In [1]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

from gensim.parsing.preprocessing import remove_stopwords, strip_numeric, strip_punctuation, stem_text

import nltk
nltk.download('omw-1.4')
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, sent_tokenize

import spacy

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\rishi\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

# Working on raw dataset

In [2]:
dataset = pd.read_csv("./blogtext.csv", encoding="latin1")
df = dataset[['text', 'topic']][0:50000]

print (df.shape)
df

(50000, 2)

                                                    text              topic
0                 Info has been found (+/- 100 pages,...            Student
1                 These are the team members:   Drewe...            Student
2                 In het kader van kernfusie op aarde...            Student
3                       testing!!!  testing!!!                      Student
4                   Thanks to Yahoo!'s Toolbar I can ...  InvestmentBanking
...                                                  ...                ...
49995         Aug 7th Thur... Bought Her Mua Chee & S...        Advertising
49996         Aug 6th Wed.. Her 1st Day @ Work Back @...        Advertising
49997         Aug 4th Mon Zing's BD !! Went To Her Pl...        Advertising
49998         Aug 3rd Sun.. Went To Her Place B4 Goin...        Advertising
49999         Aug 1st Fri.. Met Her To Go Shoppin' @ ...        Advertising

[50000 rows x 2 columns]

In [3]:
print (type(df))
print (len(list(df.topic.unique())))
list(df.topic.unique())

<class 'pandas.core.frame.DataFrame'>
40

['Student',
 'InvestmentBanking',
 'indUnk',
 'Non-Profit',
 'Banking',
 'Education',
 'Engineering',
 'Science',
 'Communications-Media',
 'BusinessServices',
 'Sports-Recreation',
 'Arts',
 'Internet',
 'Museums-Libraries',
 'Accounting',
 'Technology',
 'Law',
 'Consulting',
 'Automotive',
 'Religion',
 'Fashion',
 'Publishing',
 'Marketing',
 'LawEnforcement-Security',
 'HumanResources',
 'Telecommunications',
 'Military',
 'Government',
 'Transportation',
 'Architecture',
 'Advertising',
 'Agriculture',
 'Biotech',
 'RealEstate',
 'Manufacturing',
 'Construction',
 'Chemicals',
 'Maritime',
 'Tourism',
 'Environment']

In [4]:
duplicate = df[df.duplicated()]
duplicate

                                                    text             topic
762                                  urlLink resume       BusinessServices
764                            urlLink resume help        BusinessServices
2310              hey guys - i had the flu today - th...        Technology
3469                                                            Technology
3578                                                            Technology
...                                                  ...               ...
49299                   La la la! La la la! La la la!...               Law
49571                I'm bored. Bite me.       ~*~ Fi...           Student
49640         so im sitting at carol's house with her...          Military
49652         so this morning i didn't go to bed 'til...          Military
49689         oh great, now mary thinks everything is...          Military

[593 rows x 2 columns]

In [5]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(49407, 2)

In [6]:
#Checking for any more duplicates (returns an empty series)
duplicate1 = df[df.duplicated()]
duplicate1

Empty DataFrame
Columns: [text, topic]
Index: []

In [7]:
print (len(list(df.topic.unique())))
list(df.topic.unique())

40

['Student',
 'InvestmentBanking',
 'indUnk',
 'Non-Profit',
 'Banking',
 'Education',
 'Engineering',
 'Science',
 'Communications-Media',
 'BusinessServices',
 'Sports-Recreation',
 'Arts',
 'Internet',
 'Museums-Libraries',
 'Accounting',
 'Technology',
 'Law',
 'Consulting',
 'Automotive',
 'Religion',
 'Fashion',
 'Publishing',
 'Marketing',
 'LawEnforcement-Security',
 'HumanResources',
 'Telecommunications',
 'Military',
 'Government',
 'Transportation',
 'Architecture',
 'Advertising',
 'Agriculture',
 'Biotech',
 'RealEstate',
 'Manufacturing',
 'Construction',
 'Chemicals',
 'Maritime',
 'Tourism',
 'Environment']

In [8]:
#Losing the rows where topic="indUnk"

df.drop(df[df['topic']=="indUnk"].index, inplace=True)
print (len(list(df.topic.unique())))
df

39

                                                    text              topic
0                 Info has been found (+/- 100 pages,...            Student
1                 These are the team members:   Drewe...            Student
2                 In het kader van kernfusie op aarde...            Student
3                       testing!!!  testing!!!                      Student
4                   Thanks to Yahoo!'s Toolbar I can ...  InvestmentBanking
...                                                  ...                ...
49995         Aug 7th Thur... Bought Her Mua Chee & S...        Advertising
49996         Aug 6th Wed.. Her 1st Day @ Work Back @...        Advertising
49997         Aug 4th Mon Zing's BD !! Went To Her Pl...        Advertising
49998         Aug 3rd Sun.. Went To Her Place B4 Goin...        Advertising
49999         Aug 1st Fri.. Met Her To Go Shoppin' @ ...        Advertising

[32006 rows x 2 columns]

In [9]:
#Changing the index to normal
df.reset_index(inplace=True)
df = df[['text', 'topic']]
df

                                                    text              topic
0                 Info has been found (+/- 100 pages,...            Student
1                 These are the team members:   Drewe...            Student
2                 In het kader van kernfusie op aarde...            Student
3                       testing!!!  testing!!!                      Student
4                   Thanks to Yahoo!'s Toolbar I can ...  InvestmentBanking
...                                                  ...                ...
32001         Aug 7th Thur... Bought Her Mua Chee & S...        Advertising
32002         Aug 6th Wed.. Her 1st Day @ Work Back @...        Advertising
32003         Aug 4th Mon Zing's BD !! Went To Her Pl...        Advertising
32004         Aug 3rd Sun.. Went To Her Place B4 Goin...        Advertising
32005         Aug 1st Fri.. Met Her To Go Shoppin' @ ...        Advertising

[32006 rows x 2 columns]

# Cleaning previously processed dataset

In [10]:
#Found a list of words online, going to use it to remove all useless words
words = open('Words.txt')
word = []
for line in words:
    word.append(line.strip())

print (len(word))
word

113850

['aa',
 'aah',
 'aahed',
 'aahing',
 'aahs',
 'aal',
 'aalii',
 'aaliis',
 'aals',
 'aardvark',
 'aardvarks',
 'aardwolf',
 'aardwolves',
 'aas',
 'aasvogel',
 'aasvogels',
 'aba',
 'abaca',
 'abacas',
 'abaci',
 'aback',
 'abacus',
 'abacuses',
 'abaft',
 'abaka',
 'abakas',
 'abalone',
 'abalones',
 'abamp',
 'abampere',
 'abamperes',
 'abamps',
 'abandon',
 'abandoned',
 'abandoning',
 'abandonment',
 'abandonments',
 'abandons',
 'abas',
 'abase',
 'abased',
 'abasedly',
 'abasement',
 'abasements',
 'abaser',
 'abasers',
 'abases',
 'abash',
 'abashed',
 'abashes',
 'abashing',
 'abasing',
 'abatable',
 'abate',
 'abated',
 'abatement',
 'abatements',
 'abater',
 'abaters',
 'abates',
 'abating',
 'abatis',
 'abatises',
 'abator',
 'abators',
 'abattis',
 'abattises',
 'abattoir',
 'abattoirs',
 'abaxial',
 'abaxile',
 'abbacies',
 'abbacy',
 'abbatial',
 'abbe',
 'abbes',
 'abbess',
 'abbesses',
 'abbey',
 'abbeys',
 'abbot',
 'abbotcies',
 'abbotcy',
 'abbots',
 'abbreviate',
 'abbreviated',
 'abbreviates',
 'abbreviating',
 'abbreviation',
 'abbreviations',
 'abdicate',
 'abdicated',
 'abdicates',
 'abdicating',
 'abdication',
 'abdications',
 'abdomen',
 'abdomens',
 'abdomina',
 'abdominal',
 'abdominally',
 'abduce',
 'abduced',
 'abducens',
 'abducent',
 'abducentes',
 'abduces',
 'abducing',
 'abduct',
 'abducted',
 'abducting',
 'abductor',
 'abductores',
 'abductors',
 'abducts',
 'abeam',
 'abed',
 'abele',
 'abeles',
 'abelmosk',
 'abelmosks',
 'aberrant',
 'aberrants',
 'aberration',
 'aberrations',
 'abet',
 'abetment',
 'abetments',
 'abets',
 'abettal',
 'abettals',
 'abetted',
 'abetter',
 'abetters',
 'abetting',
 'abettor',
 'abettors',
 'abeyance',
 'abeyances',
 'abeyancies',
 'abeyancy',
 'abeyant',
 'abfarad',
 'abfarads',
 'abhenries',
 'abhenry',
 'abhenrys',
 'abhor',
 'abhorred',
 'abhorrence',
 'abhorrences',
 'abhorrent',
 'abhorrer',
 'abhorrers',
 'abhorring',
 'abhors',
 'abidance',
 'abidances',
 'abide',
 'abided',
 'abider',
 'abiders',
 'abides',
 'abiding',
 'abied',
 'abies',
 'abigail',
 'abigails',
 'abilities',
 'ability',
 'abioses',
 'abiosis',
 'abiotic',
 'abject',
 'abjectly',
 'abjectness',
 'abjectnesses',
 'abjuration',
 'abjurations',
 'abjure',
 'abjured',
 'abjurer',
 'abjurers',
 'abjures',
 'abjuring',
 'ablate',
 'ablated',
 'ablates',
 'ablating',
 'ablation',
 'ablations',
 'ablative',
 'ablatives',
 'ablaut',
 'ablauts',
 'ablaze',
 'able',
 'ablegate',
 'ablegates',
 'abler',
 'ables',
 'ablest',
 'ablings',
 'ablins',
 'abloom',
 'abluent',
 'abluents',
 'ablush',
 'abluted',
 'ablution',
 'ablutions',
 'ably',
 'abmho',
 'abmhos',
 'abnegate',
 'abnegated',
 'abnegates',
 'abnegating',
 'abnegation',
 'abnegations',
 'abnormal',
 'abnormalities',
 'abnormality',
 'abnormally',
 'abnormals',
 'abo',
 'aboard',
 'abode',
 'aboded',
 'abodes',
 'aboding',
 'abohm',
 'abohms',
 'aboideau',
 'aboideaus',
 'aboideaux',
 'aboil',
 'aboiteau',
 'aboiteaus',
 'aboiteaux',
 'abolish',
 'abolished',
 'abolishes',
 'abolishing',
 'abolition',
 'abolitions',
 'abolla',
 'abollae',
 'aboma',
 'abomas',
 'abomasa',
 'abomasal',
 'abomasi',
 'abomasum',
 'abomasus',
 'abominable',
 'abominate',
 'abominated',
 'abominates',
 'abominating',
 'abomination',
 'abominations',
 'aboon',
 'aboral',
 'aborally',
 'aboriginal',
 'aborigine',
 'aborigines',
 'aborning',
 'abort',
 'aborted',
 'aborter',
 'aborters',
 'aborting',
 'abortion',
 'abortions',
 'abortive',
 'aborts',
 'abos',
 'abought',
 'aboulia',
 'aboulias',
 'aboulic',
 'abound',
 'abounded',
 'abounding',
 'abounds',
 'about',
 'above',
 'aboveboard',
 'aboves',
 'abracadabra',
 'abradant',
 'abradants',
 'abrade',
 'abraded',
 'abrader',
 'abraders',
 'abrades',
 'abrading',
 'abrasion',
 'abrasions',
 'abrasive',
 'abrasively',
 'abrasiveness',
 'abrasivenesses',
 'abrasives',
 'abreact',
 'abreacted',
 'abreacting',
 'abreacts',
 'abreast',
 'abri',
 'abridge',
 'abridged',
 'abridgement',
 'abridgements',
 'abridger',
 'abridgers',
 'abridges',
 'abridging',
 'abridgment',
 'abridgments',
 'abris',
 'abroach',
 'abroad',
 'abrogate',
 'abrogated',
 'abrogates',
 'abrogating',
 'abrupt',
 'abrupter',
 'abruptest',
 'abruptly',
 'abscess',
 'abscessed',
 'abscesses',
 'abscessing',
 'abscise',
 'abscised',
 'abscises',
 'abscisin',
 'abscising',
 'abscisins',
 'abscissa',
 'abscissae',
 'abscissas',
 'abscond',
 'absconded',
 'absconding',
 'absconds',
 'absence',
 'absences',
 'absent',
 'absented',
 'absentee',
 'absentees',
 'absenter',
 'absenters',
 'absenting',
 'absently',
 'absentminded',
 'absentmindedly',
 'absentmindedness',
 'absentmindednesses',
 'absents',
 'absinth',
 'absinthe',
 'absinthes',
 'absinths',
 'absolute',
 'absolutely',
 'absoluter',
 'absolutes',
 'absolutest',
 'absolution',
 'absolutions',
 'absolve',
 'absolved',
 'absolver',
 'absolvers',
 'absolves',
 'absolving',
 'absonant',
 'absorb',
 'absorbed',
 'absorbencies',
 'absorbency',
 'absorbent',
 'absorber',
 'absorbers',
 'absorbing',
 'absorbingly',
 'absorbs',
 'absorption',
 'absorptions',
 'absorptive',
 'abstain',
 'abstained',
 'abstainer',
 'abstainers',
 'abstaining',
 'abstains',
 'abstemious',
 'abstemiously',
 'abstention',
 'abstentions',
 'absterge',
 'absterged',
 'absterges',
 'absterging',
 'abstinence',
 'abstinences',
 'abstract',
 'abstracted',
 'abstracter',
 'abstractest',
 'abstracting',
 'abstraction',
 'abstractions',
 'abstractly',
 'abstractness',
 'abstractnesses',
 'abstracts',
 'abstrict',
 'abstricted',
 'abstricting',
 'abstricts',
 'abstruse',
 'abstrusely',
 'abstruseness',
 'abstrusenesses',
 'abstruser',
 'abstrusest',
 'absurd',
 'absurder',
 'absurdest',
 'absurdities',
 'absurdity',
 'absurdly',
 'absurds',
 'abubble',
 'abulia',
 'abulias',
 'abulic',
 'abundance',
 'abundances',
 'abundant',
 'abundantly',
 'abusable',
 'abuse',
 'abused',
 'abuser',
 'abusers',
 'abuses',
 'abusing',
 'abusive',
 'abusively',
 'abusiveness',
 'abusivenesses',
 'abut',
 'abutilon',
 'abutilons',
 'abutment',
 'abutments',
 'abuts',
 'abuttal',
 'abuttals',
 'abutted',
 'abutter',
 'abutters',
 'abutting',
 'abuzz',
 'abvolt',
 'abvolts',
 'abwatt',
 'abwatts',
 'aby',
 'abye',
 'abyed',
 'abyes',
 'abying',
 'abys',
 'abysm',
 'abysmal',
 'abysmally',
 'abysms',
 'abyss',
 'abyssal',
 'abysses',
 'acacia',
 'acacias',
 'academe',
 'academes',
 'academia',
 'academias',
 'academic',
 'academically',
 'academics',
 'academies',
 'academy',
 'acajou',
 'acajous',
 'acaleph',
 'acalephae',
 'acalephe',
 'acalephes',
 'acalephs',
 'acanthi',
 'acanthus',
 'acanthuses',
 'acari',
 'acarid',
 'acaridan',
 'acaridans',
 'acarids',
 'acarine',
 'acarines',
 'acaroid',
 'acarpous',
 'acarus',
 'acaudal',
 'acaudate',
 'acauline',
 'acaulose',
 'acaulous',
 'accede',
 'acceded',
 'acceder',
 'acceders',
 'accedes',
 'acceding',
 'accelerate',
 'accelerated',
 'accelerates',
 'accelerating',
 'acceleration',
 'accelerations',
 'accelerator',
 'accelerators',
 'accent',
 'accented',
 'accenting',
 'accentor',
 'accentors',
 'accents',
 'accentual',
 'accentuate',
 'accentuated',
 'accentuates',
 'accentuating',
 'accentuation',
 'accentuations',
 'accept',
 'acceptabilities',
 'acceptability',
 'acceptable',
 'acceptance',
 'acceptances',
 'accepted',
 'acceptee',
 'acceptees',
 'accepter',
 'accepters',
 'accepting',
 'acceptor',
 'acceptors',
 'accepts',
 'access',
 'accessed',
 'accesses',
 'accessibilities',
 'accessibility',
 'accessible',
 'accessing',
 'accession',
 'accessions',
 'accessories',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidentals',
 'accidents',
 'accidie',
 'accidies',
 'acclaim',
 'acclaimed',
 'acclaiming',
 'acclaims',
 'acclamation',
 'acclamations',
 'acclimate',
 'acclimated',
 'acclimates',
 'acclimating',
 'acclimation',
 'acclimations',
 'acclimatization',
 'acclimatizations',
 'acclimatize',
 'acclimatizes',
 'accolade',
 'accolades',
 'accommodate',
 'accommodated',
 'accommodates',
 'accommodating',
 'accommodation',
 'accommodations',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompaniments',
 'accompanist',
 'accompany',
 'accompanying',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplisher',
 'accomplishers',
 'accomplishes',
 'accomplishing',
 'accomplishment',
 'accomplishments',
 'accord',
 'accordance',
 'accordant',
 'accorded',
 'accorder',
 'accorders',
 'according',
 'accordingly',
 'accordion',
 'accordions',
 'accords',
 'accost',
 'accosted',
 'accosting',
 'accosts',
 'account',
 'accountabilities',
 'accountability',
 'accountable',
 'accountancies',
 'accountancy',
 'accountant',
 'accountants',
 'accounted',
 'accounting',
 'accountings',
 'accounts',
 'accouter',
 'accoutered',
 'accoutering',
 'accouters',
 'accoutre',
 'accoutred',
 'accoutrement',
 'accoutrements',
 'accoutres',
 'accoutring',
 'accredit',
 'accredited',
 'accrediting',
 'accredits',
 'accrete',
 'accreted',
 'accretes',
 'accreting',
 'accrual',
 'accruals',
 'accrue',
 'accrued',
 'accrues',
 'accruing',
 'accumulate',
 'accumulated',
 'accumulates',
 'accumulating',
 'accumulation',
 'accumulations',
 'accumulator',
 'accumulators',
 'accuracies',
 'accuracy',
 'accurate',
 'accurately',
 'accurateness',
 'accuratenesses',
 'accursed',
 'accurst',
 'accusal',
 'accusals',
 'accusant',
 'accusants',
 'accusation',
 'accusations',
 'accuse',
 'accused',
 'accuser',
 'accusers',
 'accuses',
 'accusing',
 'accustom',
 'accustomed',
 'accustoming',
 'accustoms',
 'ace',
 'aced',
 'acedia',
 'acedias',
 'aceldama',
 'aceldamas',
 'acentric',
 'acequia',
 'acequias',
 'acerate',
 'acerated',
 'acerb',
 'acerbate',
 'acerbated',
 'acerbates',
 'acerbating',
 'acerber',
 'acerbest',
 'acerbic',
 'acerbities',
 'acerbity',
 'acerola',
 'acerolas',
 'acerose',
 'acerous',
 'acers',
 'acervate',
 'acervuli',
 'aces',
 'acescent',
 'acescents',
 'aceta',
 'acetal',
 'acetals',
 'acetamid',
 'acetamids',
 'acetate',
 'acetated',
 'acetates',
 'acetic',
 'acetified',
 'acetifies',
 'acetify',
 'acetifying',
 'acetone',
 'acetones',
 'acetonic',
 'acetose',
 'acetous',
 'acetoxyl',
 'acetoxyls',
 'acetum',
 'acetyl',
 'acetylene',
 'acetylenes',
 'acetylic',
 'acetyls',
 'ache',
 'ached',
 'achene',
 'achenes',
 'achenial',
 'aches',
 'achier',
 'achiest',
 'achievable',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achiever',
 'achievers',
 'achieves',
 'achieving',
 'achiness',
 'achinesses',
 'aching',
 'achingly',
 'achiote',
 'achiotes',
 'achoo',
 'achromat',
 'achromats',
 'achromic',
 'achy',
 'acicula',
 'aciculae',
 'acicular',
 'aciculas',
 'acid',
 'acidhead',
 'acidheads',
 'acidic',
 'acidified',
 'acidifies',
 'acidify',
 'acidifying',
 'acidities',
 'acidity',
 'acidly',
 'acidness',
 'acidnesses',
 'acidoses',
 'acidosis',
 'acidotic',
 'acids',
 'acidy',
 'acierate',
 'acierated',
 'acierates',
 'acierating',
 'aciform',
 'acinar',
 'acing',
 'acini',
 'acinic',
 'acinose',
 'acinous',
 'acinus',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledgements',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'acknowledgments',
 'aclinic',
 'acmatic',
 'acme',
 'acmes',
 'acmic',
 'acne',
 'acned',
 'acnes',
 'acnode',
 'acnodes',
 'acock',
 'acold',
 'acolyte',
 'acolytes',
 'aconite',
 'aconites',
 'aconitic',
 'aconitum',
 'aconitums',
 'acorn',
 'acorns',
 'acoustic',
 'acoustical',
 'acoustically',
 'acoustics',
 'acquaint',
 'acquaintance',
 'acquaintances',
 'acquaintanceship',
 'acquaintanceships',
 'acquainted',
 'acquainting',
 'acquaints',
 'acquest',
 'acquests',
 'acquiesce',
 'acquiesced',
 'acquiescence',
 'acquiescences',
 'acquiescent',
 'acquiescently',
 'acquiesces',
 'acquiescing',
 'acquire',
 'acquired',
 'acquirer',
 'acquirers',
 'acquires',
 'acquiring',
 'acquisition',
 'acquisitions',
 'acquisitive',
 'acquit',
 'acquits',
 'acquitted',
 'acquitting',
 'acrasin',
 'acrasins',
 'acre',
 'acreage',
 'acreages',
 'acred',
 'acres',
 'acrid',
 'acrider',
 'acridest',
 'acridine',
 'acridines',
 'acridities',
 'acridity',
 'acridly',
 'acridness',
 'acridnesses',
 'acrimonies',
 'acrimonious',
 'acrimony',
 'acrobat',
 'acrobatic',
 'acrobats',
 'acrodont',
 'acrodonts',
 'acrogen',
 'acrogens',
 'acrolein',
 'acroleins',
 'acrolith',
 'acroliths',
 'acromia',
 'acromial',
 'acromion',
 'acronic',
 'acronym',
 'acronyms',
 'across',
 'acrostic',
 'acrostics',
 'acrotic',
 'acrotism',
 'acrotisms',
 'acrylate',
 'acrylates',
 'acrylic',
 'acrylics',
 'act',
 'acta',
 'actable',
 'acted',
 'actin',
 'actinal',
 'acting',
 'actings',
 'actinia',
 'actiniae',
 'actinian',
 'actinians',
 'actinias',
 'actinic',
 'actinide',
 'actinides',
 'actinism',
 'actinisms',
 'actinium',
 'actiniums',
 'actinoid',
 'actinoids',
 'actinon',
 'actinons',
 'actins',
 'action',
 'actions',
 'activate',
 'activated',
 'activates',
 'activating',
 'activation',
 'activations',
 'active',
 'actively',
 'actives',
 'activism',
 'activisms',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actorish',
 'actors',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actualities',
 'actuality',
 'actualization',
 'actualizations',
 'actualize',
 'actualized',
 'actualizes',
 'actualizing',
 'actually',
 'actuarial',
 'actuaries',
 ...]

In [11]:
#Created a list of custom stopwords from the one I made here as it wasn't helping directly

stops = open('Stopwords.txt')
stop = []

for line in stops:
    stop.append(line.strip())

print (len(stop))
stop

349

['a',
 'about',
 'above',
 'absolutely',
 'actually',
 'after',
 'again',
 'against',
 'ah',
 'ain',
 'aint',
 "ain't",
 'all',
 'also',
 'although',
 'always',
 'am',
 'an',
 'and',
 'any',
 'anybody',
 'anyhow',
 'anyone',
 'anyway',
 'anywho',
 'are',
 'aren',
 "aren't",
 'around',
 'as',
 'at',
 'away',
 'b',
 'back',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'c',
 'can',
 'certainly',
 'come',
 'could',
 'coulda',
 'couldn',
 "couldn't",
 'd',
 'day',
 'definitely',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'e',
 'each',
 'eh',
 'else',
 'even',
 'ever',
 'every',
 'f',
 'feel',
 'few',
 'for',
 'from',
 'further',
 'g',
 'get',
 'give',
 'go',
 'goes',
 'going',
 'gon',
 "gon'",
 'gonna',
 'got',
 'gotta',
 'h',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'hello',
 'hence',
 'her',
 'here',
 'hereby',
 'hers',
 'herself',
 'hey',
 'hi',
 'him',
 'himself',
 'his',
 'hola',
 'honestly',
 'how',
 'however',
 'i',
 "i'd",
 "i've",
 'if',
 "i'll",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 'its',
 "it's",
 'itself',
 'j',
 'just',
 'knew',
 'know',
 'l',
 'let',
 'less',
 'like',
 'little',
 'll',
 'look',
 'looked',
 'looking',
 'looks',
 'lot',
 'm',
 'ma',
 'made',
 'make',
 'makes',
 'making',
 'may',
 'maybe',
 'me',
 'mightn',
 "mightn't",
 'more',
 'much',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'n',
 'nah',
 'nbsp',
 'need',
 'needn',
 "needn't",
 'never',
 'no',
 'nobody',
 'nor',
 'not',
 'nothing',
 'now',
 'o',
 'of',
 'off',
 'oh',
 'on',
 'once',
 'one',
 'only',
 'or',
 'other',
 'otherwise',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'p',
 'perhaps',
 'phew',
 'probably',
 'q',
 'r',
 're',
 'really',
 'right',
 's',
 'saw',
 'say',
 'said',
 'saying',
 'says',
 'see',
 'seeing',
 'sees',
 'seem',
 'seemed',
 'seeming',
 'seemingly',
 'seems',
 "shanshan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shoulda',
 "should've",
 'shouldn',
 "shouldn't",
 'since',
 'so',
 'some',
 'somebody',
 'somehow',
 'someone',
 'something',
 'somewhat',
 'start',
 'still',
 'such',
 'surely',
 't',
 'take',
 'tell',
 'tells',
 'telling',
 'than',
 'that',
 "that'd",
 "that'll",
 "that's",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereby',
 'therefore',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'thing',
 'things',
 'think',
 'thinking',
 'thinks',
 'this',
 'those',
 'though',
 'thought',
 'through',
 'thus',
 'time',
 'to',
 'told',
 'too',
 'truly',
 'try',
 'trying',
 'u',
 'under',
 'until',
 'up',
 'urllink',
 'us',
 'v',
 've',
 'very',
 'w',
 'wanna',
 'want',
 'was',
 'wasn',
 "wasn't",
 'way',
 'we',
 'were',
 'well',
 'went',
 "we're",
 'were',
 'weren',
 "weren't",
 'what',
 'whatever',
 'whatsoever',
 'whe',
 'when',
 'where',
 'which',
 'whichever',
 'while',
 'who',
 'whoever',
 'whom',
 'whomever',
 'whomsoever',
 'whosoever',
 'why',
 'will',
 'with',
 'without',
 'won',
 "won't",
 'would',
 'woulda',
 'wouldn',
 "wouldn't",
 'y',
 'yeah',
 'yes',
 'yet',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves']

In [12]:
#Trying a different approach to stopword-removal by creating a new wordlist containing all valid words except stopwords

print (len(word), len(stop))
print (len(word) - len(stop))

for i in word:
    a = i.strip()
    if a in stop:
        word.remove(i)
print (len(word))

#(len(word)) > (len(word) - len(stop)) because stop contains some words not in word

113850 349
113501
113614

In [13]:
#Checking for any stopwords still present in word
"then" in word

False

In [14]:
df[['text']] = df[['text']].astype(str)
df

                                                    text              topic
0                 Info has been found (+/- 100 pages,...            Student
1                 These are the team members:   Drewe...            Student
2                 In het kader van kernfusie op aarde...            Student
3                       testing!!!  testing!!!                      Student
4                   Thanks to Yahoo!'s Toolbar I can ...  InvestmentBanking
...                                                  ...                ...
32001         Aug 7th Thur... Bought Her Mua Chee & S...        Advertising
32002         Aug 6th Wed.. Her 1st Day @ Work Back @...        Advertising
32003         Aug 4th Mon Zing's BD !! Went To Her Pl...        Advertising
32004         Aug 3rd Sun.. Went To Her Place B4 Goin...        Advertising
32005         Aug 1st Fri.. Met Her To Go Shoppin' @ ...        Advertising

[32006 rows x 2 columns]

In [15]:
lemmatizer = WordNetLemmatizer()
clean_text = []

def preprocess(text):   
    #New stopwords function, tokenize and lemmatize (remove punctuation before tokenization)
    text = text.lower()
    text = strip_punctuation(text) 
    text = strip_numeric(text)
    text = word_tokenize(text)
    text = [w for w in text if w in word]    
    text = [a for a in text if a not in stop]
    text = " ".join(text)
    text = lemmatizer.lemmatize(text)

    clean_text.append(text)
    return text

egtext = "Hello, aaaah then this is 1 trial of the above function oh hrfjnfjm!"

print (preprocess(egtext)) #TRIAL SUCCESSFUL

trial function

In [16]:
df1 = pd.DataFrame(df['text'])
df1[['text']] = df1[['text']].astype(str)

In [17]:
df1.shape
df1

                                                    text
0                 Info has been found (+/- 100 pages,...
1                 These are the team members:   Drewe...
2                 In het kader van kernfusie op aarde...
3                       testing!!!  testing!!!
4                   Thanks to Yahoo!'s Toolbar I can ...
...                                                  ...
32001         Aug 7th Thur... Bought Her Mua Chee & S...
32002         Aug 6th Wed.. Her 1st Day @ Work Back @...
32003         Aug 4th Mon Zing's BD !! Went To Her Pl...
32004         Aug 3rd Sun.. Went To Her Place B4 Goin...
32005         Aug 1st Fri.. Met Her To Go Shoppin' @ ...

[32006 rows x 1 columns]

In [18]:
df

                                                    text              topic
0                 Info has been found (+/- 100 pages,...            Student
1                 These are the team members:   Drewe...            Student
2                 In het kader van kernfusie op aarde...            Student
3                       testing!!!  testing!!!                      Student
4                   Thanks to Yahoo!'s Toolbar I can ...  InvestmentBanking
...                                                  ...                ...
32001         Aug 7th Thur... Bought Her Mua Chee & S...        Advertising
32002         Aug 6th Wed.. Her 1st Day @ Work Back @...        Advertising
32003         Aug 4th Mon Zing's BD !! Went To Her Pl...        Advertising
32004         Aug 3rd Sun.. Went To Her Place B4 Goin...        Advertising
32005         Aug 1st Fri.. Met Her To Go Shoppin' @ ...        Advertising

[32006 rows x 2 columns]

In [19]:
(i, j) = df.shape
i, j

(32006, 2)

In [23]:
(i, j) = df1.shape
print (i)

cleantext = []

for x in range(i):
    cleantext.append(preprocess(df1._get_value(x, "text")))    #WORKS BUT TAKES VERY LONG TO RUN (Around 4 hrs)
cleantext[3]

#Started at 8:56, ended at 1:20

32006

'testing testing'

In [31]:
print (len(cleantext))
ct = pd.DataFrame(cleantext)
ct    #CLEAN DATAFRAME

32006

                                                       0
0      info found pages files wait team leader proces...
1                        team members van mail mail mail
2      het van op build bomb rec humor subject build ...
3                                        testing testing
4      thanks yahoo capture means show cool links pop...
...                                                  ...
32001                              bought send home work
32002                            wed work sent work sent
32003  mon zing place cooked dinner together finally ...
32004  sun place zing present raffles centre double s...
32005                             met ping dinner breeks

[32006 rows x 1 columns]

In [37]:
#Add the topics

cleantext_topics = ct.join(df['topic'])
cleantext_topics

                                                       0              topic
0      info found pages files wait team leader proces...            Student
1                        team members van mail mail mail            Student
2      het van op build bomb rec humor subject build ...            Student
3                                        testing testing            Student
4      thanks yahoo capture means show cool links pop...  InvestmentBanking
...                                                  ...                ...
32001                              bought send home work        Advertising
32002                            wed work sent work sent        Advertising
32003  mon zing place cooked dinner together finally ...        Advertising
32004  sun place zing present raffles centre double s...        Advertising
32005                             met ping dinner breeks        Advertising

[32006 rows x 2 columns]

In [38]:
type(cleantext_topics)

pandas.core.frame.DataFrame

In [39]:
cleantext_topics.to_csv('Cleaned_Blog_Dataset.csv', index=False)

In [40]:
df.to_csv('Raw_Blog_Dataset.csv', index=False)

In [46]:
all_text_topics = pd.DataFrame(df['text']).join(cleantext_topics)
all_text_topics.rename(columns = {0:'clean_text'}, inplace = True)
all_text_topics.rename(columns = {'text':'raw_text'}, inplace = True)
all_text_topics

,raw_text,clean_text,topic
0,"Info has been found (+/- 100 pages,...",info found pages files wait team leader proces...,Student
1,These are the team members: Drewe...,team members van mail mail mail,Student
2,In het kader van kernfusie op aarde...,het van op build bomb rec humor subject build ...,Student
3,testing!!! testing!!!,testing testing,Student
4,Thanks to Yahoo!'s Toolbar I can ...,thanks yahoo capture means show cool links pop...,InvestmentBanking
...,...,...,...
32001,Aug 7th Thur... Bought Her Mua Chee & S...,bought send home work,Advertising
32002,Aug 6th Wed.. Her 1st Day @ Work Back @...,wed work sent work sent,Advertising
32003,Aug 4th Mon Zing's BD !! Went To Her Pl...,mon zing place cooked dinner together finally ...,Advertising
32004,Aug 3rd Sun.. Went To Her Place B4 Goin...,sun place zing present raffles centre double s...,Advertising
32005,Aug 1st Fri.. Met Her To Go Shoppin' @ ...,met ping dinner breeks,Advertising

In [69]:
all_text_topics['clean_text'].isnull().any()     #Don't know why this doesn't give the right answer

False

In [65]:
all_text_topics.to_csv('Mixed_Text_Blog_Dataset.csv', index=False)

In [75]:
dataset_mixed = pd.read_csv('Mixed_Text_Blog_Dataset.csv')

print (dataset_mixed.shape)
print (dataset_mixed.index)
print (dataset_mixed.columns)
print()

print (dataset_mixed["clean_text"].isnull().any())
print (dataset_mixed["clean_text"].isnull().sum())
print (dataset_mixed['clean_text'].notnull().sum())
print()

(32006, 3)
RangeIndex(start=0, stop=32006, step=1)
Index(['raw_text', 'clean_text', 'topic'], dtype='object')

True
508
31498

In [79]:
#Dropping rows where clean_text=null

dataset_mixed = dataset_mixed.dropna(subset=['clean_text'])
dataset_mixed

,raw_text,clean_text,topic
0,"Info has been found (+/- 100 pages,...",info found pages files wait team leader proces...,Student
1,These are the team members: Drewe...,team members van mail mail mail,Student
2,In het kader van kernfusie op aarde...,het van op build bomb rec humor subject build ...,Student
3,testing!!! testing!!!,testing testing,Student
4,Thanks to Yahoo!'s Toolbar I can ...,thanks yahoo capture means show cool links pop...,InvestmentBanking
...,...,...,...
32001,Aug 7th Thur... Bought Her Mua Chee & S...,bought send home work,Advertising
32002,Aug 6th Wed.. Her 1st Day @ Work Back @...,wed work sent work sent,Advertising
32003,Aug 4th Mon Zing's BD !! Went To Her Pl...,mon zing place cooked dinner together finally ...,Advertising
32004,Aug 3rd Sun.. Went To Her Place B4 Goin...,sun place zing present raffles centre double s...,Advertising
32005,Aug 1st Fri.. Met Her To Go Shoppin' @ ...,met ping dinner breeks,Advertising

In [80]:
dataset_mixed.to_csv('Final_Blog_Dataset.csv', index=False)